
    <book-popup [books]="books"
                #modal></book-popup>
  <span class="book-delete" 
  title="DELETE" 
  (click)="deleteBook(existBook, existBook.title)">
<i class="fa fa-trash" aria-hidden="true"></i>
</span>
<span class="book-edit" 
  title="EDIT" 
  (click)="modal.openExistBookModal(existBook)">
<i class="fa fa-pencil-square-o" aria-hidden="true" ></i>
</span>
<img class="img-responsive book-img" 
  src={{existBook.img}} onError="this.src='https://images-na.ssl-images-amazon.com/images/I/41kXBL4bUUL._SY373_BO1,204,203,200_.jpg'"
  alt="image of {{title}}`s book">
<div class="caption">
<p class="book-title">
  {{existBook.title | capitalize }}
</p>
</div>
<span>
  {{existBook.author}}
</span>
<br>
<span *ngIf="existBook.date">
  {{existBook.date}}
</span>


